<footer id="footer-style-1">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="title">
                    <h3>EAS Aviation</h3>
                    <div class="newsletter_widget">
                        <p>
                            (EAS) is a partner for your total aircraft spares and aviation service needs.
                            We strive to abide by our slogan- "providing quality spares wrapped in an impeccable service!"
                        </p>

                    </div>
                </div><!-- end title -->

            </div><!-- end widget -->
        </div><!-- end columns -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="title">
                    <h3>International Partner Companies</h3>
                    <div class="newsletter_widget">
                        <p>
                            National Aerospace Group <br>
                            Vero Beach, Florida, USA <br>
                            Website: www.nationalaerogroup.com <br>
                            Email: sales@nationalaerogroup.com
                        </p>

                    </div>
                </div><!-- end title -->
            </div><!-- end widget -->
        </div><!-- end columns -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="title">
                    <h3>International Partner Companies</h3>
                    <div class="newsletter_widget">
                        <p>
                            Everest Trading And Consulting Services Limited<br>
                            416, Burlington Tower, Business Bay, UAE<br>
                            Website: www.everesttradings.com<br>
                            Email: etcs@everesttradings.com
                        </p>

                    </div>
                </div><!-- end title -->
            </div><!-- end widget -->
        </div><!-- end columns -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="widget">
                <div class="title">
                    <h3>Contact</h3>
                </div><!-- end title -->
                <div class="newsletter_widget">
                    <p>
                        We are easy to reach out. <br>
                        Phone: 00977 9818645104 <br>
                        Email: sales@eas-aviation.com ,
                                    Rohit.rizal@eas-aviation.com ,
                                    brat@eas-aviation.com <br>
                        For logistics support, contact <br>
                        Prakash at info@airbaselogistics.com
                    </p>

                </div>
            </div><!-- end widget -->
        </div><!-- end columns --> 
    </div><!-- end container -->
</footer><!-- end #footer-style-1 -->    

<div id="copyrights">
    <div class="container">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="copyright-text">
                <p>Copyright © 2024 - Designed by EAS Aviation</p>
            </div><!-- end copyright-text -->
        </div><!-- end widget -->

    </div><!-- end container -->
</div><!-- end copyrights -->

<div class="dmtop">Scroll to Top</div>
    
<!-- Main Scripts-->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/menu.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/jquery.simple-text-rotator.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

<script src="js/jquery.isotope.min.js"></script>
<script src="js/custom-portfolio.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- FlexSlider JavaScript
================================================== -->
<script src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
var revapi;
jQuery(document).ready(function() {
    revapi = jQuery('.tp-banner').revolution(
    {
        delay:5000,
        startwidth:1170,
        startheight:500,
        hideThumbs:10,
        fullWidth:"on",
        forceFullWidth:"on"
    });
});	//ready
</script>
  
<!-- Royal Slider script files -->
<script src="royalslider/jquery.easing-1.3.js"></script>
<script src="royalslider/jquery.royalslider.min.js"></script>
<script>
jQuery(document).ready(function($) {
  var rsi = $('#slider-in-laptop').royalSlider({
    autoHeight: false,
    arrowsNav: false,
    fadeinLoadedSlide: false,
    controlNavigationSpacing: 0,
    controlNavigation: 'bullets',
    imageScaleMode: 'fill',
    imageAlignCenter: true,
    loop: false,
    loopRewind: false,
    numImagesToPreload: 6,
    keyboardNavEnabled: true,
    autoScaleSlider: true,  
    autoScaleSliderWidth: 486,     
    autoScaleSliderHeight: 315,

    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
    imgWidth: 792,
    imgHeight: 479

  }).data('royalSlider');
  $('#slider-next').click(function() {
    rsi.next();
  });
  $('#slider-prev').click(function() {
    rsi.prev();
  });
});
</script>
	<script>
	(function($) {
	  "use strict";
        $(window).load(function() {
            $('#partsslider1').flexslider({
                animation: "fade",
                controlNav: true,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel"
            });

            $('#partsslider2').flexslider({
                animation: "fade",
                controlNav: true,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel"
            });

            $('#partsslider3').flexslider({
                animation: "fade",
                controlNav: true,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel"
            });

            $('#partsslider4').flexslider({
                animation: "fade",
                controlNav: true,
                animationLoop: true,
                slideshow: true,
                sync: "#carousel"
            });
        });
	})(jQuery);
    </script>