<header id="header-style-1">
  <div class="container">
    <nav class="navbar yamm navbar-default">
      <div class="navbar-header">
                  <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a href="home" class="navbar-brand"></a>
          </div><!-- end navbar-header -->
              
      <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
                      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Company <div class="arrow-up"></div></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="about">About Us</a></li>
                              <li><a href="about">Vision</a></li>
                              <li><a href="about">Mission</a></li>
                              <li><a href="about">Meet Our Team</a></li>
                              <li><a href="about">International Partner Companies</a></li>
                          </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->
                     
                      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Products & Services <div class="arrow-up"></div></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="services">Aircraft Materials/Spare Parts</a></li>
                              <li><a href="services">Aircraft Engines</a></li>
                              <li><a href="services">Aircraft Propellers</a></li>
                              <li><a href="services">Aviation Services</a></li>
                          </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->


                      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Projects<div class="arrow-up"></div></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="projects">ATR 72-500 Teardown ( 2023 )</a></li>
                              <li><a href="projects">Dornier 228 Teardown ( 2022 )</a></li>
                              <li><a href="projects">Boeing 757 Teardown ( 2019 )</a></li>
                              <li><a href="projects">Jetstream 41 Teardown ( 2018 )</a></li>
                          </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->


                      <!-- standard drop down -->
                      <li><a href="contact">Contact</a></li>
        </ul><!-- end navbar-nav -->
      </div><!-- #navbar-collapse-1 -->			</nav><!-- end navbar yamm navbar-default -->
  </div><!-- end container -->
</header><!-- end header-style-1 -->
