<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="animationload">
    <div class="loader">Loading...</div>
  </div>
  <%- include ("../partials/nav.ejs") %>

  <section class="post-wrapper-top jt-shadow clearfix">
    <div class="container">
        <div class="col-lg-12">
            <h2>About Us</h2>
            <ul class="breadcrumb pull-right">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="white-wrapper">
    <div class="container">
        <div class="messagebox">
             
            <p class="lead">
                Everest Aero Services Private Limited (EAS) is a leading and independent specialist in the supply of aircraft 
                spare parts and aviation services, with a wide presence in the global aviation domain. With customer centric
                 approach at its core, all our activities are focused on providing airlines with certified airplane parts when 
                 requirement occurs.
                 <br><br>
                 We also have a good understanding of what it takes for an airliner to fly their airplanes while 
                 maintaining optimum level of spare parts – and that is where we stand out, by maintaining pool of inventories with our 
                 partners worldwide. 
                 <br><br>

                 By establishing mutually beneficial trusted and established partnerships to transform operational efficiency, 
                 EAS utilizes its trusted 
                 nd established vendor supply   chain relationships to assist in cost savings and increasing efficiency for customers.
                 <br><br>
                 EAS is highly regarded for its 24/7/365 and critical response service excellence and has a 
                 dedicated team of sales and service, located worldwide, along with global stock locations.

            </p>
        </div><!-- end messagebox -->
    </div><!-- end container -->
</section><!-- end white-wrapper -->

<section class="white-wrapper jt-shadow">
    <div class="container">
        <div class="calloutbox bggrey">
            <div class="col-lg-10">
            <h2>Vision</h2>
            <p>To establish an ecosystem of “spares worry “ free  aircraft operators!</p>
            </div>

        </div><!-- end messagebox -->

        <div class="calloutbox bggrey">
            <div class="col-lg-10">
            <h2>Mission</h2>
            <p>To grow into an efficient and customer-oriented aviation parts provider, worldwide!</p>
            </div>

        </div><!-- end messagebox -->
    </div><!-- end container -->
</section><!-- end white-wrapper -->


<section class="white-wrapper">
    <div class="container">
        <div class="general-title">
            <h2>Meet Our Team </h2>
            <hr>
            <p class="lead">
                EAS values its team. Right from its inception, 
                we are together and growing! Feel free to reach   out to any of us! We are a small team but we get the job done!
            </p>
        </div><!-- end general title -->
        
        <div class="padding-top text-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 first">
                <div class="team_member">
                    <div class="entry">
                        <img class="img-responsive" src="demos/01_team.jpg" alt="">
                        <div class="magnifier">
                            <div class="buttons">
                                <a class="sf" rel="bookmark" href="mailto:rohit.rizal@eas-aviation.com"><span class="fa fa-envelope"></span></a>
                            </div>
                        </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3>Rohit Rizal <span>|</span> <small>Head of Sales</small></h3>
                    <p>Rohit has been in aviation for about a decade now and is looking 
                        after the Company’s overall business and strategy development.
                    </p>
                    <p>
                        When he is not selling, he is sailing!
                    </p>
                    <p>
                    <br>
                        Phone: +977 9818645104
                    <br>

                    Email: rohit.rizal@eas-aviation.com
                    </p>
                </div><!-- end team_member -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="team_member">
                    <div class="entry">
                        <img class="img-responsive" src="demos/02_team.jpg" alt="">
                        <div class="magnifier">
                            <div class="buttons">
                                <a class="sf" rel="bookmark" href="mailto:brat@eas-aviation.com"><span class="fa fa-envelope"></span></a>
                            </div>
                        </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3>Brat Raj Neupane <span>|</span> <small>Head of Operations</small></h3>
                    <p>
                        Brat Raj has been involved in aviation for more than 20 years now. 
                        He has an excellent knowledge in aircraft teardown, aviation law, logistics and asset acquisition. He has been able to garner global aviation marketplace knowledge and has been concentrating on the regional aircraft business market for a long time now. When he is not dismantling aircraft, he is assembling his innerself!
                    </p>
                    <p>
                    <br>
                        Phone:  +977 9841334281
                    <br>

                    Email: brat@eas-aviation.com
                    </p>
                </div><!-- end team_member -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="team_member">
                    <div class="entry">
                        <img class="img-responsive" src="demos/03_team.jpg" alt="">
                        <div class="magnifier">
                            <div class="buttons">
                                <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                            </div>
                        </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3>Prakash Subedi <span>|</span> <small>Logistics Partner</small></h3>
                    <p>
                        Prakash from Airbase Logistics, has been a  long-time partner to EAS for all our logistics needs. He is responsible for “A-Z” of all the cargo movement. Prior to establishing his own freight forwarding company, Airbase Logistics, Prakash was associated with DHL, Nepal for more than a decade. He brings with him an extensive expertise and experience in material handling and shipping.
                         If you like how well your AOG item is packaged and its on-time delivery, give him a thumbs up!
                    </p>
                    <p>
                    <br>
                        Phone:  +977 9851123108
                    </p>
                </div><!-- end team_member -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->   
    </div><!-- end container -->
</section><!-- end white wrapper -->


  <%- include ("../partials/footer.ejs") %>
</body>
</html>
