<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="animationload">
    <div class="loader">Loading...</div>
  </div>
  <%- include ("../partials/nav.ejs") %>

  <section class="post-wrapper-top jt-shadow clearfix">
    <div class="container">
        <div class="col-lg-12">
            <h2>Contact Us</h2>
            <ul class="breadcrumb pull-right">
                <li><a href="index.html">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="white-wrapper nopadding">

    <div class="container">
    
    <div class="row padding-top margin-top">
        <div class="contact_details">
            <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                <div class="text-center">
                    <div class="wow swing">
                        <div class="contact-icon">
                            <a href="#" class=""> <i class="fa fa-envelope-o fa-3x"></i> </a>
                        </div><!-- end dm-icon-effect-1 -->
                         <p><strong>Email:</strong> <br>
                            sales@eas-aviation.com, <br> 
                            rohit.rizal@eas-aviation.com, <br> 
                            brat@eas-aviation.com <br>
                        <strong>For logistics support, contact Prakash:</strong> <br>info@airbaselogistics.com</p>
                    </div><!-- end service-icon -->
                </div><!-- end miniboxes -->
            </div><!-- end col-lg-4 -->
            
            <div class="col-lg-4 col-sm-4 col-md-6 col-xs-12">
                <div class="text-center">
                    <div class="wow swing">
                        <div class="contact-icon">
                            <a href="#" class=""> <i class="fa fa-phone fa-3x"></i> </a>
                        </div><!-- end dm-icon-effect-1 -->
                         <p><strong>Phone:</strong> 00977 9818645104<br>
                    </div><!-- end service-icon -->
                </div><!-- end miniboxes -->
            </div><!-- end col-lg-4 -->  

        </div><!-- end contact_details -->
    </div><!-- end margin-top --><br><br>
    </div><!-- end container -->
</section><!-- end map wrapper -->


  <%- include ("../partials/footer.ejs") %>
</body>
</html>
