<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="animationload">
    <div class="loader">Loading...</div>
  </div>
  <%- include ("../partials/nav.ejs") %>

  <section class="post-wrapper-top jt-shadow clearfix">
    <div class="container">
        <div class="col-lg-12">
            <h2>Products & Services</h2>
            <ul class="breadcrumb pull-right">
                <li><a href="index.html">Home</a></li>
                <li>Products & Services</li>
            </ul>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="white-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget margin-top">
                    <div id="partsslider1" class="flexslider clearfix">
                        <ul class="slides">
                            <li><img src="images/products/group1/p_01.jpg" class="img-responsive" alt=""></li>
                            <li><img src="images/products/group1/p_02.jpg" class="img-responsive" alt=""></li>
                        </ul><!-- end slides -->
                        <div class="aboutslider-shadow">
                            <span class="s1"></span>
                        </div>
                    </div><!-- end slider -->
                </div><!-- end widget -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget">
                    <h3>Aircraft Materials/Spare Parts</h3>
                    <p>
                        EAS focuses on the aftermarket service of supplying our airline partners and other customers with their aircraft spares needs. 
                        We have completed multiple aircraft dismantling projects 
                        and have in shelf the spares  and components on the following platforms ( mostly regional and smaller planes) – ready to go :
                    </p>
                    
                    <div class="clearfix"></div>
                    <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                        <ul class="check">
                            <li>Twin Otter </li>
                            <li>CASA  212</li>
                            <li>Beechcraft C90A</li>
                        </ul><!-- end check -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="check">
                            <li>Beechcraft B350/ King Air</li>
                            <li>BAE Jetstream 41/32
                            </li>
                            <li>SAAB 340</li>

                        </ul><!-- end check -->    
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                        <ul class="check">
                            <li>Dornier DO228 – 201/212</li>
                            <li>ATR 42/72</li>
                            <li>Bombardier CRJ 100/200</li>
                  
                        </ul><!-- end check -->
                    </div><!-- end col-lg-4 --> 
                    </div><!-- end row -->      
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->

        
    </div><!-- end container -->
</section><!-- end postwrapper -->

<section class="grey-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget margin-top">
                    <div id="partsslider2" class="flexslider clearfix">
                        <ul class="slides">
                            <li><img src="images/products/group2/p_01.jpg" class="img-responsive" alt=""></li>
                            <li><img src="images/products/group2/p_02.jpg" class="img-responsive" alt=""></li>
                        </ul><!-- end slides -->
                        <div class="aboutslider-shadow">
                            <span class="s1"></span>
                        </div>
                    </div><!-- end slider -->
                </div><!-- end widget -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget">
                    <h3>Aircraft Engines</h3>
                    <p>
                        EAS can support its clients with the following Engine Models and materials for Engines:
                    </p>
                    
                    <div class="clearfix"></div>
                    <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                        <ul class="check">
                            <li>P&W PT6A-114A </li>
                            <li>P&W PT6A-21</li>
                            <li>P&W PT6A-27/28</li>
                        </ul><!-- end check -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="check">
                            <li>P&W PT6A-34/34AG</li>
                            <li>P&W PT6T-3 TWIN PACK</li>
                            <li>P&W PT6A-41/42</li>

                        </ul><!-- end check -->    
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                        <ul class="check">
                            <li>P&W PT6A-65B/67D</li>
                            <li>P&W PW127F/M</li>
                  
                        </ul><!-- end check -->
                    </div><!-- end col-lg-4 --> 
                    </div><!-- end row -->      
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->

        
    </div><!-- end container -->
</section><!-- end postwrapper -->


<section class="white-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget margin-top">
                    <div id="partsslider3" class="flexslider clearfix">
                        <ul class="slides">
                            <li><img src="images/products/group3/p_01.jpg" class="img-responsive" alt=""></li>
                            <li><img src="images/products/group3/p_02.jpg" class="img-responsive" alt=""></li>
                        </ul><!-- end slides -->
                        <div class="aboutslider-shadow">
                            <span class="s1"></span>
                        </div>
                    </div><!-- end slider -->
                </div><!-- end widget -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget">
                    <h3>Aircraft Propellers</h3>
                    <p>
                    We support following Propellers
                    </p>
                    
                    <div class="clearfix"></div>
                    <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 first">
                        <ul class="check">
                            <li>Cessna Grand Caravan </li>
                            <li>Twin Otter</li>
                            <li>ATR 42/72</li>
                        </ul><!-- end check -->
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <ul class="check">
                            <li>Beechcraft King Air 350/i </li>
                            <li>Pilatus PC-6/PC-7
                            </li>
                            <li>Jetstream 41</li>

                        </ul><!-- end check -->    
                    </div><!-- end col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 last">
                        <ul class="check">
                            <li>Dornier 228</li>
                  
                  
                        </ul><!-- end check -->
                    </div><!-- end col-lg-4 --> 
                    </div><!-- end row -->      
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->

        
    </div><!-- end container -->
</section><!-- end postwrapper -->

<section class="grey-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget margin-top">
                    <div id="partsslider4" class="flexslider clearfix">
                        <ul class="slides">
                            <li><img src="images/products/group4/p_01.jpg" class="img-responsive" alt=""></li>
                            <li><img src="images/products/group4/p_02.jpg" class="img-responsive" alt=""></li>
                        </ul><!-- end slides -->
                        <div class="aboutslider-shadow">
                            <span class="s1"></span>
                        </div>
                    </div><!-- end slider -->
                </div><!-- end widget -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget">
                    <h3>Aircraft Services</h3>
                    <p>
                        Everest Aero Services provides turnkey solutions to its customers in the area of spares repair management and aviation audits. 
                        Our exclusive arrangements with repair shops help us cater to airliners in managing the repairs of unserviceable parts. 
                        Additionally, EAS is equally capable of conducting pre-purchase, mid-term lease, 
                        annual and pre-delivery physical and desktop audits/inspection of aircraft for its owner, operator and lesssor clients.
                    </p>
                    <p>
                        Images: Visuals from a recent physical inspection carried out on behalf of our client in India.
                    </p>
                    
                    <div class="clearfix"></div>
      
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
        </div><!-- end row -->

        
    </div><!-- end container -->
</section><!-- end postwrapper -->


  <%- include ("../partials/footer.ejs") %>
</body>
</html>
